
data/
logs/
*.log
*.parquet
*.crc
metastore_db/
derby.log
spark-warehouse/


hive_metastore_db/
hadoop_namenode/
hadoop_datanode/
jenkins_home/

__pycache__/
*.pyc
.ipynb_checkpoints/
.pytest_cache/
venv/
env/


.vscode/
.idea/
*.swp
